= simple_form_for @history do |f|
  .row
    .col-md-8
      = f.input :name
  .row
    .col-md-4
      = f.input :requester_id, collection: @people
    .col-md-4
      = f.input :owner_id, collection: @people
  .row
    .col-md-8
      = f.input :description, input_html: { rows: 6}
  .row
    .col-md-4
      = f.input :started_at, as: :string, input_html: { class: "datepicker"}
    .col-md-4
      = f.input :deadline
      .row
    .col-md-1
      = f.input :points, collection: History.valid_points
  %br
  .row
    .col-md-2
      = f.submit
